@media (max-width: 1100px) {
    .animals {
        width: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

body {
    font-family: "Javanese Text";
    margin: 0;
    list-style: none;
    background-color: aliceblue;
    color: darkcyan;
}

a {
    color: darkslategrey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

h2 {
    padding: 10px;
}

#header {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.boto {
    margin: 10px;
    padding: 10px;
    border: solid cadetblue;
    height: 10px;
    width: 10px;
    background-color: darkcyan;
    border-radius: 20px;
    size: 10px;
    font-weight: bold;
}

#capçalera {
    padding-top: 15px;
    background-image: url(https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80);
    background-size: cover;
    background-position: center;
    color: aliceblue;
    margin: 0px;

}

#peufoto {
    text-align: right;
    color: cadetblue;
    font-size: small;
    font-style: italic;
}

img {
    border-radius: 15px;
    grid-area: imatge;
}
.animals {
    display: flex;
    justify-content: space-around;
}

.nom {
    font-weight: bold;
}

.nom_cientific {
    font-style: italic;
}

.estat {
    grid-area: estat;
}

.tipus_estat {
    grid-area: tipus_estat;
}

.poblacio {
    grid-area: poblacio;
}

.tipus_poblacio {
    grid-area: tipus_poblacio;
}

#tortuga {
    display: grid;
    margin: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "nom nom" "nom_cientific nom_cientific" "imatge imatge" "estat tipus_estat" "poblacio tipus_poblacio";
}

#lludria {
    display: grid;
    margin: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "nom nom" "nom_cientific nom_cientific" "imatge imatge" "estat tipus_estat" "poblacio tipus_poblacio";
}

#ratpenat {
    display: grid;
    margin: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "nom nom" "nom_cientific nom_cientific" "imatge imatge" "estat tipus_estat" "poblacio tipus_poblacio";
}

#bibliografia {
    margin: 20px;
}
#llicencia {
    margin: 20px;
}

footer {
    display: flex;
    background-color: powderblue;
    color: darkcyan;
    font-weight: bold;
    justify-content: space-around;
}
