@media (max-width: 1100px) {
    .animals {
        width: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

body {
    font-family: "Javanese Text";
    margin: 0px;
    list-style: none;
    background-color: aliceblue;
    color: darkcyan;
}

a {
    color: darkslategrey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

h1 {
    margin: 20px;
}

h2 {
    margin: 20px;
}

#header {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.boto {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: solid cadetblue;
    height: 10px;
    width: 10px;
    background-color: darkcyan;
    border-radius: 20px;
    size: 10px;
    font-weight: bold;
}

img {
    border-radius: 15px;
    grid-area: imatge;
}

.animals {
    display: flex;
    justify-content: space-around;
}

.nom {
    font-weight: bold;
}

.nom_cientific {
    font-style: italic;
}

.estat {
    grid-area: estat;
}

.tipus_estat {
    grid-area: tipus_estat;
}

.poblacio {
    grid-area: poblacio;
}

.tipus_poblacio {
    grid-area: tipus_poblacio;
}

.text {
    grid-area: text;
}

#tortuga {
    display: grid;
    margin: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "nom nom" "nom_cientific nom_cientific" "imatge imatge" "estat tipus_estat" "poblacio tipus_poblacio" "text text";
}

#lludria {
    display: grid;
    margin: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "nom nom" "nom_cientific nom_cientific" "imatge imatge" "estat tipus_estat" "poblacio tipus_poblacio" "text text";
}

#ratpenat {
    display: grid;
    margin: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "nom nom" "nom_cientific nom_cientific" "imatge imatge" "estat tipus_estat" "poblacio tipus_poblacio" "text text";
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: powderblue;
}

#llicencia {
    margin: 20px;
}

#segueix {
    margin: 20px;
}